In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_excel("Data_Train.xlsx")

In [ ]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [ ]:
df.dropna(how='any', axis=0, inplace=True)

In [ ]:
df.sample(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
9294,Air India,9/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,14:25,19:15 10 Jun,28h 50m,2 stops,No info,13381
4227,Jet Airways,21/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,19:10,18:50 22 Mar,23h 40m,2 stops,In-flight meal not included,8834
7716,Jet Airways,24/03/2019,Kolkata,Banglore,CCU → BOM → BLR,21:10,23:25 25 Mar,26h 15m,1 stop,In-flight meal not included,10031
7206,Jet Airways,12/06/2019,Delhi,Cochin,DEL → COK,11:00,14:15,3h 15m,non-stop,In-flight meal not included,7202
7225,Jet Airways,6/05/2019,Kolkata,Banglore,CCU → DEL → BLR,17:00,10:55 07 May,17h 55m,1 stop,No info,13067
9952,Jet Airways,12/06/2019,Delhi,Cochin,DEL → ATQ → BOM → COK,20:00,04:25 13 Jun,8h 25m,2 stops,In-flight meal not included,12410
2780,Air Asia,9/03/2019,Kolkata,Banglore,CCU → BLR,22:50,01:20 10 Mar,2h 30m,non-stop,No info,4384
3930,SpiceJet,03/03/2019,Banglore,New Delhi,BLR → HYD → DEL,15:35,23:40,8h 5m,1 stop,No info,6315
2240,Air India,12/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 13 Jun,23h 55m,1 stop,No info,10203
2619,IndiGo,9/03/2019,Delhi,Cochin,DEL → BOM → COK,17:30,01:35 10 Mar,8h 5m,1 stop,No info,12351

In [ ]:
df['Date_of_Journey'].value_counts()

18/05/2019    504
6/06/2019     503
21/05/2019    497
9/06/2019     495
12/06/2019    493
9/05/2019     484
21/03/2019    423
15/05/2019    405
27/05/2019    382
27/06/2019    355
24/06/2019    351
1/06/2019     342
3/06/2019     333
15/06/2019    328
24/03/2019    323
6/03/2019     308
27/03/2019    299
24/05/2019    286
6/05/2019     281
1/05/2019     277
12/05/2019    259
1/04/2019     257
3/03/2019     218
9/03/2019     200
15/03/2019    162
18/03/2019    156
01/03/2019    152
12/03/2019    142
9/04/2019     125
3/04/2019     110
21/06/2019    109
18/06/2019    105
09/03/2019    102
6/04/2019     100
03/03/2019     97
06/03/2019     95
27/04/2019     94
24/04/2019     92
3/05/2019      90
15/04/2019     89
21/04/2019     82
18/04/2019     67
12/04/2019     63
1/03/2019      47
Name: Date_of_Journey, dtype: int64

In [ ]:
df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])

<ipython-input-37-70e457e0a264>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])

In [ ]:
df['Month_of_Journey'] = df['Date_of_Journey'].dt.month

In [ ]:
df['Day_of_Journey'] = df['Date_of_Journey'].dt.day

In [ ]:
h = df['Duration'].str.extract('(\d+)h', expand=False).astype(float) * 60
m = df['Duration'].str.extract('(\d+)m', expand=False).astype(float)

df['Duration_in_minute'] = h.add(m, fill_value=0).astype(int).astype(str)

In [ ]:
df = df.drop(columns=['Route','Dep_Time','Arrival_Time','Additional_Info','Duration','Date_of_Journey'])

In [ ]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,Month_of_Journey,Day_of_Journey,Duration_in_minute
0,IndiGo,Banglore,New Delhi,non-stop,3897,3,24,170
1,Air India,Kolkata,Banglore,2 stops,7662,1,5,445
2,Jet Airways,Delhi,Cochin,2 stops,13882,9,6,1140
3,IndiGo,Kolkata,Banglore,1 stop,6218,12,5,325
4,IndiGo,Banglore,New Delhi,1 stop,13302,1,3,285

In [ ]:
print(df[['Airline']].shape)

(10682, 1)

In [ ]:
print(df[['Duration_in_minute']].shape)

(10682, 1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Airline             10682 non-null  object
 1   Source              10682 non-null  object
 2   Destination         10682 non-null  object
 3   Total_Stops         10682 non-null  object
 4   Price               10682 non-null  int64
 5   Month_of_Journey    10682 non-null  int64
 6   Day_of_Journey      10682 non-null  int64
 7   Duration_in_minute  10682 non-null  object
dtypes: int64(3), object(5)
memory usage: 751.1+ KB

In [ ]:
x=df.drop(labels=["Price"],axis=1)
y=df["Price"]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Airline             10682 non-null  object
 1   Source              10682 non-null  object
 2   Destination         10682 non-null  object
 3   Total_Stops         10682 non-null  object
 4   Month_of_Journey    10682 non-null  int64
 5   Day_of_Journey      10682 non-null  int64
 6   Duration_in_minute  10682 non-null  object
dtypes: int64(2), object(5)
memory usage: 667.6+ KB

In [ ]:
x['Duration_in_minute'] = x['Duration_in_minute'].astype(str).astype(int)

In [ ]:
x['Month_of_Journey'] = x['Month_of_Journey'].astype(int).astype(str)

In [ ]:
x['Day_of_Journey'] = x['Day_of_Journey'].astype(int).astype(str)

In [ ]:
cat_cols = x.select_dtypes(include="object").columns
num_cols = x.select_dtypes(exclude="object").columns

In [ ]:
num_pipeline = Pipeline(
    steps=[
        ("scaler",StandardScaler())
    ]
)

In [ ]:
cat_pipeline=Pipeline(

    steps=[
        ("OneHotEncoder",OneHotEncoder(drop='first',sparse=False,dtype=np.int32))
    ]
)

In [ ]:
preprocessor=ColumnTransformer(

    [
        ("num_pipeline",num_pipeline,num_cols),
        ("cat_pipeline",cat_pipeline,cat_cols)
    ]
)

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
preprocessor.fit_transform(x_train)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[ 0.00740459,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.70439934,  0.        ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [-0.51550658,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.23432831,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.93975526,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.55991451,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

In [ ]:
preprocessor.transform(x_test)

array([[-0.0320604 ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.19978663,  0.        ,  1.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.24419456,  0.        ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.45138578,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.73750698,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.48590783,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

In [ ]:
preprocessor.get_feature_names_out()

array(['num_pipeline__Duration_in_minute',
       'cat_pipeline__Airline_Air India', 'cat_pipeline__Airline_GoAir',
       'cat_pipeline__Airline_IndiGo',
       'cat_pipeline__Airline_Jet Airways',
       'cat_pipeline__Airline_Jet Airways Business',
       'cat_pipeline__Airline_Multiple carriers',
       'cat_pipeline__Airline_Multiple carriers Premium economy',
       'cat_pipeline__Airline_SpiceJet', 'cat_pipeline__Airline_Trujet',
       'cat_pipeline__Airline_Vistara',
       'cat_pipeline__Airline_Vistara Premium economy',
       'cat_pipeline__Source_Chennai', 'cat_pipeline__Source_Delhi',
       'cat_pipeline__Source_Kolkata', 'cat_pipeline__Source_Mumbai',
       'cat_pipeline__Destination_Cochin',
       'cat_pipeline__Destination_Delhi',
       'cat_pipeline__Destination_Hyderabad',
       'cat_pipeline__Destination_Kolkata',
       'cat_pipeline__Destination_New Delhi',
       'cat_pipeline__Total_Stops_2 stops',
       'cat_pipeline__Total_Stops_3 stops',
       'cat_pipeline__Total_Stops_4 stops',
       'cat_pipeline__Total_Stops_non-stop',
       'cat_pipeline__Month_of_Journey_12',
       'cat_pipeline__Month_of_Journey_3',
       'cat_pipeline__Month_of_Journey_4',
       'cat_pipeline__Month_of_Journey_5',
       'cat_pipeline__Month_of_Journey_6',
       'cat_pipeline__Month_of_Journey_9',
       'cat_pipeline__Day_of_Journey_18',
       'cat_pipeline__Day_of_Journey_21',
       'cat_pipeline__Day_of_Journey_24',
       'cat_pipeline__Day_of_Journey_27',
       'cat_pipeline__Day_of_Journey_3', 'cat_pipeline__Day_of_Journey_4',
       'cat_pipeline__Day_of_Journey_5', 'cat_pipeline__Day_of_Journey_6'],
      dtype=object)

In [ ]:
X_train=pd.DataFrame(preprocessor.fit_transform(x_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(x_test),columns=preprocessor.get_feature_names_out())

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
X_train_new = ohe.fit_transform(X_train[['Airline','Source','Destination','Total_Stops','Month_of_Journey','Day_of_Journey']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [ ]:
models={

    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet(),
    'Randomforest':RandomForestRegressor(),
    'xgboost':XGBRegressor()

}

In [ ]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [ ]:
list(models)

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet', 'Randomforest', 'xgboost']

In [ ]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()
RandomForestRegressor()
XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [ ]:
def evaluate_model(true,pred):
    r2=r2_score(true,pred)
    mae=mean_absolute_error(true,pred)
    mse=mean_squared_error(true,pred)

    return mae, mse,r2

In [ ]:
for i in range(len(list(models))):
    model=list(models.values())[i]

    model.fit(X_train,y_train)

    #make_prediction
    y_pred=model.predict(X_test)

    #this is for the validaiton
    MAE,MSE,R2=evaluate_model(y_test,y_pred)


    print("model training performance",model)
    print("MSE:", MSE)
    print("MAE:",MAE)
    print("R2 SCORE:",R2)

    r2_list.append(R2)

    print("="*40)
    print("\n")

model training performance LinearRegression()
MSE: 6713032.098321612
MAE: 1836.9928817132354
R2 SCORE: 0.6886645690281779
========================================


model training performance Lasso()
MSE: 6714762.79648023
MAE: 1834.6473005751188
R2 SCORE: 0.6885843031141761
========================================


model training performance Ridge()
MSE: 6728488.793989348
MAE: 1840.2982229200543
R2 SCORE: 0.6879477220152881
========================================


model training performance ElasticNet()
MSE: 12331948.396515345
MAE: 2476.5642231375587
R2 SCORE: 0.4280717844755586
========================================


model training performance RandomForestRegressor()
MSE: 5164372.698685823
MAE: 1393.4293310380626
R2 SCORE: 0.7604879320856432
========================================


model training performance XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)
MSE: 3845471.6622957946
MAE: 1298.55676663675
R2 SCORE: 0.8216556155645194
========================================